In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
f_data = pd.read_csv("13f.csv")

In [3]:
pricedata = pd.read_csv("prices.csv")

In [4]:
f_data.head()

,iRECORD_ID,iCIK,iCUSIP,iPERIOD_END,iFILING_DATE,iAMEND,iRESTATEMENT,iTYPE,iQTY,iMARKET_VALUE,iLONG_FRACTION
0,4443748,216235,055622104,1999-09-30,2000-01-03,0,0,0,28287.0,3134550.0,0.009282
1,4443749,216235,020039103,1999-09-30,2000-01-03,0,0,0,79199.0,5690620.0,0.016851
2,4443750,216235,713448108,1999-09-30,2000-01-03,0,0,0,186140.0,5795950.0,0.017163
3,4443751,216235,002824100,1999-09-30,2000-01-03,0,0,0,169555.0,6290420.0,0.018627
4,4443752,216235,05964H105,1999-09-30,2000-01-03,0,0,0,16897.0,174250.0,0.000516

In [5]:
f_data.shape

(57569236, 11)

In [6]:
pricedata.shape

(105864354, 9)

In [7]:
pricedata.head()

,pSP_CUSIP,pSP_EXCHANGE,pSP_TICKER,pSP_DATE,pSP_VOLUME,pSP_OPEN,pSP_HIGH,pSP_LOW,pSP_CLOSE
0,013817101,N,AA,1996-01-02,2808000,13.1250,13.6875,13.0625,13.5938
1,013817101,N,AA,1996-01-03,5008800,13.5312,13.8438,13.5000,13.8125
2,013817101,N,AA,1996-01-04,4276000,13.7188,13.9375,13.5938,13.9375
3,013817101,N,AA,1996-01-05,2618400,13.8750,14.1250,13.8125,13.8438
4,013817101,N,AA,1996-01-08,3471200,13.7812,13.8750,12.8125,13.0938

In [14]:
import pandas as pd
from datetime import datetime

# Assuming your DataFrame is named 'pricedata'
pricedata['pSP_DATE'] = pd.to_datetime(pricedata['pSP_DATE'])
pricedata = pricedata[pricedata['pSP_DATE'] >= datetime(2013, 1, 1)]

In [15]:
pricedata.head()

,pSP_CUSIP,pSP_EXCHANGE,pSP_TICKER,pSP_DATE,pSP_VOLUME,pSP_OPEN,pSP_HIGH,pSP_LOW,pSP_CLOSE
3875,001038108,PK,AFAP,2013-12-23,0,273.2500,273.2500,273.2500,273.2500
3930,87243T100,PK,CBDG,2015-04-15,0,0.8000,0.8000,0.8000,0.8000
3944,925490203,O,VRTA,2013-10-17,0,6.1600,6.3200,6.1600,6.2400
3956,83607W102,PK,SHSO,2014-02-14,0,0.0001,0.0001,0.0001,0.0001
14688,G0440M128,PK,AQPBF,2013-05-01,0,0.6900,0.6900,0.6900,0.6900

In [16]:
pricedata.shape

(35410515, 9)

In [11]:
pricedata.iloc[-1,:]

pSP_CUSIP                 98979F107
pSP_EXCHANGE                      A
pSP_TICKER                      ZOM
pSP_DATE        2020-05-29 00:00:00
pSP_VOLUME                 33669380
pSP_OPEN                       0.16
pSP_HIGH                      0.162
pSP_LOW                       0.154
pSP_CLOSE                    0.1577
Name: 105864353, dtype: object

In [12]:
f_data.head()

,iRECORD_ID,iCIK,iCUSIP,iPERIOD_END,iFILING_DATE,iAMEND,iRESTATEMENT,iTYPE,iQTY,iMARKET_VALUE,iLONG_FRACTION
0,4443748,216235,055622104,1999-09-30,2000-01-03,0,0,0,28287.0,3134550.0,0.009282
1,4443749,216235,020039103,1999-09-30,2000-01-03,0,0,0,79199.0,5690620.0,0.016851
2,4443750,216235,713448108,1999-09-30,2000-01-03,0,0,0,186140.0,5795950.0,0.017163
3,4443751,216235,002824100,1999-09-30,2000-01-03,0,0,0,169555.0,6290420.0,0.018627
4,4443752,216235,05964H105,1999-09-30,2000-01-03,0,0,0,16897.0,174250.0,0.000516

In [13]:
f_data['iFILING_DATE'] = pd.to_datetime(f_data['iFILING_DATE'])
f_data = f_data[f_data['iFILING_DATE'] >= datetime(2013, 1, 1)]

In [35]:
f_data.head()

,iRECORD_ID,iCIK,iCUSIP,iPERIOD_END,iFILING_DATE,iAMEND,iRESTATEMENT,iTYPE,iQTY,iMARKET_VALUE,iLONG_FRACTION
25444322,37942554,732857,G0692U109,2012-12-31,2013-01-02,0,0,0,63005.0,2162.0,0.012254
25444323,37942555,732857,384313102,2012-12-31,2013-01-02,0,0,0,17450.0,158.0,0.000895
25444324,37942556,732857,032511107,2012-12-31,2013-01-02,0,0,0,16709.0,1208.0,0.006847
25444325,37942557,732857,37946S107,2012-12-31,2013-01-02,0,0,0,47502.0,176.0,0.000998
25444326,37942558,732857,31428X106,2012-12-31,2013-01-02,0,0,0,14511.0,1312.0,0.007436

In [36]:
# Convert date columns to datetime objects
f_data['iPERIOD_END'] = pd.to_datetime(f_data['iPERIOD_END'])
pricedata['pSP_DATE'] = pd.to_datetime(pricedata['pSP_DATE'])

# Rename the 'pSP_CUSIP' column in the pricedata DataFrame to 'iCUSIP'
pricedata = pricedata.rename(columns={'pSP_CUSIP': 'iCUSIP'})

# Merge the DataFrames on the 'iCUSIP' and date columns
merged_data = pd.merge(f_data, pricedata, left_on=['iCUSIP', 'iPERIOD_END'], right_on=['iCUSIP', 'pSP_DATE'])

# Filter the merged_data DataFrame to keep only the specified columns
merged_data = merged_data[['iCIK','iCUSIP', 'pSP_TICKER', 'iPERIOD_END', 'iQTY', 'iMARKET_VALUE', 'iLONG_FRACTION', 'pSP_VOLUME', 'pSP_OPEN', 'pSP_HIGH', 'pSP_LOW', 'pSP_CLOSE']]

In [37]:
merged_data = pd.merge(f_data, pricedata, left_on=['iCUSIP', 'iPERIOD_END'], right_on=['iCUSIP', 'pSP_DATE'])

# Filter the merged_data DataFrame to keep only the specified columns
merged_data = merged_data[['iCIK','iCUSIP', 'pSP_TICKER', 'iPERIOD_END', 'iQTY', 'iMARKET_VALUE', 'iLONG_FRACTION', 'pSP_VOLUME', 'pSP_OPEN', 'pSP_HIGH', 'pSP_LOW', 'pSP_CLOSE']]

print(merged_data.head())

merged_data.to_csv('merged_data.csv', index=False)

      iCIK     iCUSIP pSP_TICKER iPERIOD_END      iQTY iMARKET_VALUE  \
0  1511857  494368103        KMB  2014-12-31    4581.0      529000.0
1  1335977  494368103        KMB  2014-12-31  141434.0    16341000.0
2  1056053  494368103        KMB  2014-12-31  630071.0    72799000.0
3  1601489  494368103        KMB  2014-12-31    3840.0      444000.0
4  1428601  494368103        KMB  2014-12-31    2085.0      241000.0

  iLONG_FRACTION  pSP_VOLUME  pSP_OPEN  pSP_HIGH  pSP_LOW  pSP_CLOSE
0       0.001076     1486101    117.01    117.44   115.36     115.54
1       0.002339     1486101    117.01    117.44   115.36     115.54
2       0.001214     1486101    117.01    117.44   115.36     115.54
3       0.000847     1486101    117.01    117.44   115.36     115.54
4       0.001134     1486101    117.01    117.44   115.36     115.54